@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Playball&family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../../assets/circle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Portfolio NavBg */
.bg-shade {
  position: absolute;
  width: 100%;
  height: 25vh;
  left: 0px;
  top: 0px;
  background: #3d5054;
  border-radius: 500px 0px;
}
.bg-blur-left {
  position: absolute;
  width: 20vw;
  height: 18vh;
  left: -196px;
  top: -30px;
  background: #90887a;
  filter: blur(100px);
}
.bg-blur-right {
  position: absolute;
  width: 20vw;
  height: 18vh;
  right: 0px;
  top: -9.98px;
  background: #90887a;
  filter: blur(100px);
}
.nav-bg {
  border: 4px solid #596456;
  width: 85vw;
  margin: auto;
  margin-top: 2rem;
  height: 160px;
  background-image: url("../../assets/hair_oil.jpg");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.7; */
}

/* Profile */
.profile-outer {
  margin: 7rem 0;
}
.profile-parent {
  display: flex;
  justify-content: center;
}
.profile-main {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  flex-wrap: wrap;

  /* background-image: url("../assets/bg-waves.png"); */
}
.profile-img {
  width: 460px;
}
.profile-img img {
  width: 100%;
  height: 600px;
}

.img-width {
  width: 43%;
}
.cont-width {
  width: 50%;
}
.profile-content {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #000000;
  font-family: "Outfit", sans-serif;
  margin-top: 1rem;
}
.profile-content .title {
  margin-top: 2rem;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 50px;
  text-align: center;
}
.profile-content .text {
  margin: 3rem 0;
}
.profile-content .text p {
  font-family: "Arima Madurai", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  height: 250px;
  overflow-y: auto;
}
.p-btn,
.see-more {
  text-align: center;
}
.p-btn button,
.see-more button {
  width: 156px;
  height: 60px;
  background-color: #3d5054;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

/* Services Section */
.service-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.service-title {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 4rem;
  letter-spacing: 1px;
  text-align: center;
}
.service-width {
  width: 70vw;
}
.service-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.svc-img {
  width: 270px;
  height: 270px;
  text-align: center;
}
.svc-img img {
  width: 100%;
  height: 100%;
}
.svc-name {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 1.2rem;
  text-align: center;
}
.see-more {
  margin-top: 3rem;
}
.see-more button {
  font-family: "Outfit";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 200px;
  height: 60px;
}

/* Discount */
.disc-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.disc-width {
  background: #96ad90;
  width: 70vw;
  padding: 30px;
  border-radius: 20px;
}
.disc-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.disc-title {
  font-family: "Outfit";
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
.disc-btn {
  display: flex;
  justify-content: flex-end;
}
.disc-btn button {
  font-size: 30px;
  font-family: "Playball", cursive;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #d9d9d9;
  color: #3d5054;
  border: none;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 12px;
}
.d-wid1 {
  width: 60%;
}
.d-wid2 {
  width: 35%;
}

/* Media Queries */
@media (max-width: 1115px) {
  .svc-img {
    width: 300px;
  }
  .service-3 {
    margin: 2rem auto;
  }
}
@media (max-width: 992px) {
  .svc-img {
    width: 330px;
  }
  .service-width {
    width: 80vw;
  }
}
@media (max-width: 870px) {
  .svc-img {
    width: auto;
    height: auto;
  }
  .service-main {
    justify-content: center;
  }
  .service-1 {
    margin-bottom: 2rem;
  }
  .disc-title {
    line-height: 50px;
  }
  .d-wid1 {
    width: 100%;
  }
  .d-wid2 {
    width: unset;
  }
  .disc-btn {
    margin-top: 1rem;
    justify-content: unset;
  }
  .disc-main {
    justify-content: center;
  }
}

/* @media (max-width: )  */
@media (max-width: 768px) {
  .img-width {
    width: 100vw;
  }
  .profile-img img {
    height: auto;
  }

  .cont-width {
    width: 100%;
  }
  .profile-content .text p {
    height: unset;
    overflow-y: unset;
  }
}
@media (max-width: 576px) {
  .profile-outer {
    margin: 6rem 0px;
  }
  .profile-content .text p {
    font-size: 16px;
  }
  .profile-content {
    font-size: 30px;
    padding: 0px 15px;
  }
  .profile-content .title {
    font-size: 50px;
  }
  .p-btn button {
    width: 140px;
    height: 60px;
    font-size: 18px;
  }

  .service-title {
    font-size: 35px;
  }
  .service-width {
    width: 85vw;
  }
  .see-more button {
    font-size: 20px;

    width: 172px;
    height: 54px;
  }
}
