.image1Child {
  position: relative;
  width: 453px;
  height: 589px;
  flex-shrink: 0;
  object-fit: cover;
}
.image1 {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.bookYourAppointment {
  position: absolute;
  top: 46px;
  left: 490px;
  display: inline-block;
  width: 363px;
  height: 46px;
}
.emailInput,
.name {
  font-family: var(--font-inter);
  left: 489px;
}
.emailInput {
  border: 1px solid var(--grey);
  font-size: var(--font-size-xs);
  background-color: var(--color-white);
  position: absolute;
  top: 203px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 381px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 17px var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.name {
  top: 137px;
  width: 188px;
  padding: var(--padding-mini) var(--padding-4xs);
}
.date,
.name,
.salonName,
.service {
  border: 1px solid var(--grey);
  font-size: var(--font-size-xs);
  background-color: var(--color-white);
  position: absolute;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.service {
  font-family: var(--font-inter);
  top: 342px;
  left: 489px;
  width: 381px;
  padding: var(--padding-mini) var(--padding-lg);
}
.date,
.salonName {
  width: 188px;
  padding: var(--padding-mini) var(--padding-4xs);
}
.salonName {
  font-family: var(--font-inter);
  top: 273px;
  left: 489px;
}
.date {
  top: 272px;
  left: 682px;
}
.book1,
.date,
.phone {
  font-family: var(--font-inter);
}
.phone {
  border: 1px solid var(--grey);
  font-size: var(--font-size-xs);
  background-color: var(--color-white);
  position: absolute;
  top: 137px;
  left: 682px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 188px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 16px 11px;
  align-items: flex-start;
  justify-content: flex-start;
}
.book1 {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  text-align: center;
  transform: rotate(-0.97deg);
  transform-origin: 0 0;
}
.book,
.booking {
  position: absolute;
}
.book {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-sm) var(--padding-36xl);
  background-color: var(--grey);
  top: 461px;
  left: 592px;
  border-radius: var(--br-3xs);
  box-shadow: 0 15px 30px -10px rgba(70, 67, 67, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.book:hover {
  background-color: var(--color-gray-200);
}
.booking {
  top: -1px;
  left: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 919px;
  height: 588px;
  overflow: hidden;
}
.booking2 {
  position: absolute;
  top: 19px;
  left: 215px;
  width: 917px;
  height: 586px;
}
.desktop2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 629px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--grey);
  font-family: var(--font-inter);
}
