.desktop-3-child {
  position: absolute;
  top: 89px;
  left: 500px;
  background-color: var(--color-white);
  border: 1px solid Black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 360px;
  height: 380px;
}
.change-password {
  position: absolute;
  top: 124px;
  left: 543px;
  font-size: 30px;
  text-align: center;
  color: #3d5054;
  display: inline-block;
  width: 272px;
  height: 46px;
}
.password {
  border: 1px solid black;
  background-color: var(--color-white);
  position: absolute;
  top: 200px;
  left: 535px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 290px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px 11px;
  align-items: flex-start;
  justify-content: flex-start;
}
.confirm,
.password,
.set-password {
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.confirm {
  border: 1px solid black;
  background-color: var(--color-white);
  position: absolute;
  top: 275px;
  left: 535px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 290px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 16px 11px;
  align-items: flex-start;
  justify-content: flex-start;
}
.set-password {
  position: relative;
  color: white;
  text-align: center;
}
.setpass {
  border: 1px solid black;
  cursor: pointer;
  background-color:#3d5054;
  position: absolute;
  top: 380px;
  left: 583px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 14px 55px;
  align-items: center;
  justify-content: flex-start;
}
.setpass:hover {
  background-color: #161c1d;
}
.desktop-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 629px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--grey);
  font-family: var(--font-inter);
}